# ==========================================
# SomnGuard Database
# ==========================================

POSTGRES_DB=somnguard

POSTGRES_USER=somnguard_user

POSTGRES_PASSWORD=change_me

POSTGRES_PORT=5432

COMPOSE_PROJECT_NAME=somnguard-db